* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  flex-wrap: wrap;
}

/* h1{
  flex: 1;
  width: 100%;
} */

section {
  display: flex;
  /* max-width: 83%; */
  /* background: #000; */
  /* padding: 50px; */
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  row-gap: 2.5rem;
  column-gap: 2.5rem;
}

section > * {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 0px;
  /* font-size: 1.5rem; */
}
img {
  width: 100%;
  height: 230px;
  display: block;
  border-radius: 10px;
  /* padding-left: 10px; */
}

/* .num1 { */
/* justify-self: center; */
/* background-color: aqua; */
/* font-size: 18px; */

.fa-basketball {
  color: #fea9e6;
}
.fa-heart {
  font-size: 18px;
}

.fa-eye {
  font-size: 15px;
}
/* } */
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* outline: 2px solid black; */
}

.texts {
  /* justify-self: end; */
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.dribble {
  gap: 0.3rem;
  display: flex;
  flex-grow: 1;
}

.reactions {
  display: flex;
  /* justify-self: end; */
  /* justify-content: space-between; */
  /* outline: 2px solid red; */
  gap: 0.3rem;
  color: grey;
  /* font-family: sans-serif; */
}

button {
  padding: 2px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(199, 197, 197);
  color: white;
  border-radius: 4px;
  border-color: rgb(199, 197, 197);
}

button:hover {
  background-color: black;
  border-color: black;
  cursor: pointer;
}

@media (max-width: 1500px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 28px;
  }
  section {
    /* background: #000; */
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 14px;
    margin-top: 10px;
  }
  section {
    /* background-color: #fea9e6; */
    grid-template-columns: repeat(1, 230px);
    margin: 0 30px;
  }
}
